@model List<Product>


<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Units in Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
<tr>
    <td>
        @p.ProductName
    </td>
    <td>
        @p.UnitPrice
    </td>
    <td>@p.UnitsInStock</td>
</tr>}
    </tbody>
</table>
