@model List<DataAccess.Entity.SubCategory>
@{
    ViewBag.Title = "GetSubCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var subCategory in Model)
            {
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- subCategory details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">
                                    @Html.ActionLink(subCategory.SubCategoryName,"GetProductsSubCategory","Product",new { id=subCategory.ID},null)
                                </h5>
                                <!-- Product price-->
                                
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

